<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Online Book Store</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar">
        <h2>Online Book Store</h2>
        <a asp-controller="Login" asp-action="Logout">Logout</a>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
