@model ValidationDemo.Models.Student

<div style="display:flex; gap:50px;">

    <!-- LEFT SIDE: FORM -->
    <div style="width:50%;">
        <form asp-action="Create">

            <div>
                <label>Name</label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div>
                <label>Email</label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div>
                <label>Age</label>
                <input asp-for="Age" />
                <span asp-validation-for="Age"></span>
            </div>

            <div>
                <label>Password</label>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password"></span>
            </div>

            <br />
            <button type="submit">Submit</button>

        </form>
    </div>

    <!-- RIGHT SIDE: SUCCESS MESSAGE -->
    <div style="width:50%;">

        @if(ViewBag.Message != null)
        {
            <h3 style="color:green;">
                @ViewBag.Message
            </h3>
        }

    </div>

</div>